<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*"
           modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="%HOME%\python312\python.exe"
                  arguments="-m waitress --port=%HTTP_PLATFORM_PORT% --channel-timeout=300 tender_project.wsgi:application"
                  requestTimeout="00:05:00"
                  startupTimeLimit="120"
                  stdoutLogEnabled="true"
                  stdoutLogFile="\\?\%HOME%\LogFiles\python.log">
      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="%HOME%\site\wwwroot"/>
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
